{% extends 'base.html.twig' %}

{% block title %}Departamento index{% endblock %}

{% block body %}
    <div class="container pt-5">
    <h2>Departamentos</h2>

    <div id="btn-new-mov" class="pt-3">
        <a href="{{ path('departamento_new') }}" role="button" class="btn btn-primary">Adicionar</a>
    </div>

    <div id="mov-table" class="pt-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>A&ccedil;&otilde;es</th>
                </tr>
            </thead>
            <tbody>
            {% for departamento in departamentos %}
                <tr>
                    <td>{{ departamento.nome }}</td>
                    <td>{{ departamento.descricao }}</td>
                    <td>
                        <a href="{{ path('departamento_show', {'id': departamento.id}) }}">Detalhes</a>
                        <a href="{{ path('departamento_edit', {'id': departamento.id}) }}">Editar</a>
                        <a href="{{ path('departamento_del', {'id': departamento.id}) }}">Remover</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">sem registros no momento...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}