{% extends 'base.html.twig' %}

{% block title %}Movimentacao{% endblock %}

{% block body %}
    <div class="container pt-5">

        <h2>Movimenta&ccedil;&otilde;o</h2>

    <div class="pt-3">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ movimentacao.id }}</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>{{ movimentacao.data ? movimentacao.data|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fornecedor</th>
                    <td>{{ movimentacao.fornecedor }}</td>
                </tr>
                <tr>
                    <th>Descricao</th>
                    <td>{{ movimentacao.descricao }}</td>
                </tr>
                <tr>
                    <th>Valor</th>
                    <td>{{ movimentacao.valor }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pt-3">
        <a href="{{ path('movimentacao_index') }}">Retornar</a>
        <a href="{{ path('movimentacao_edit', {'id': movimentacao.id}) }}">Editar</a>
    </div>

    <div class="pt-3">
        {{ include('movimentacao/_delete_form.html.twig') }}
    </div>

    </div>

{% endblock %}